{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner catalog">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ series.name }}

<figure class="creator">
	<img src="{{ creator.picture}}">
	<figcaption>{{ creator.name }}</figcaption>
</figure>
</h1>

</div>

		</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">

		</div>
		<div class="col-md-7"></div>
	</div>

		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
					{% for i in items %}
							<div class="catalog-item">
								<h3>{{i.name}}</h3>
								<h4>{{i.description}}</h4>
								<h5 class="catalog-rating"> Rating: {{i.rating}}</h5>
								<h5 class="catalog-seasons">Seasons: {{i.seasons}}</h5>

							</div>
					{% endfor %}
			</div>

{% endblock %}
